.page-wrapper {
  min-height: 100vh;
}
.wrapper {
  margin: 0 auto;
}

.wrapper--w800 {
  max-width: 800px;
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
}
.input--style-1 {
  padding: 9px 0;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
    color: #555;
}
.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}

.btn-block{
    width:30% !important;
    margin:auto;
    height:35px;
    font-size: 18px;
}

.cssButton
{
  justify-content: center;
  align-items: center;
  display:flex;
  border-radius: 12px;
  background-color:#24248f;
}
.cssButton:hover
{
  background-image: linear-gradient(to right,#24248f, #3333cc , #c2c2f0);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

* {
  padding: 0;
  margin: 0;
}
.p-t-100 {
  padding-top: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-1 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  background: url("../../assets/img2.JPG") center center/cover no-repeat;
  padding-top: 210px;
  height:400px;

}

.card-1 .card-body {
  padding: 0 90px;
  padding-top: 55px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-1 .card-body {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.bg-img {
  background: #e6f2ff;
  background: url("../../assets/img2.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:1200px;
 
}
#back{
  text-align: right;
  color: #6008B8;
  cursor:pointer;
}