<div class="coverImage">
  <div class="caption">
    <span class="border"> Profile </span><br>
  </div>
</div>
<!--Profiles-->
<div class="container" id="profile">
  <div class="container main ">
  <br><br>
    <div class="row one">
      
         <div class="col-sm-4 pic">
             <img id="profileImg" src={{userData.image1}}>
         </div>
         <div class="col-sm-8 ">
          	<div class="card text-center test1">
              	<div class="card-body">
               	   <h5 class="card-title">Name: {{userData.name}}</h5>
                   <h6 class="card-subtitle mb-2 text-muted">Type of Photography: {{userData.type}}</h6>
                   <p class="card-text">"Lorem ipsum dolor sit amet"</p>
                   <!-- <a routerLink="../details/{{a.id}}" --> <a class="btn btn-primary detailButton">Book Now</a>
                <!-- </div> -->
                </div>
               
            </div><br>
         </div>
     
     </div>
     <div class="row two">
      <div class="col-sm-6 pic">
                	<img id="sampleImg" src={{userData.sample1}}>
                </div>
                <div class="col-sm-6 pic">
                	<img id="sampleImg" src={{userData.sample2}}>
                </div> 
       </div><br>
   
  <!-- </center> -->
  </div>
</div>
