<div class="detailsBack">
  <div class="caption">
    <span class="border"> {{userData.type}} Photographer</span><br>
  </div>
</div>
<div class="container">
<div class="card">
  <img src={{userData.image1}} alt="{{userData.name}}" id="dp"  >
  <div class="middle">
    <div class="text">Name of Photographer:<h2> {{userData.name}}</h2></div>
  </div>
</div>
</div>

 <div class="container">
 <div class="card"> 
  <p class="title">Sample work:</p>
  <img src={{userData.sample1}} alt="sample1" id="sampleImg"><img src={{userData.sample2}} alt="sample2" id="sampleImg">
  <!--<p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div> -->
  <br><p><button>Book Now</button></p>
</div>
</div>
