
<!-- <div class="container"> -->
 <div class="page-wrapper bg-img p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w800">
      <div class="card card-1">
        <div class="card-heading"></div>
          <div class="card-body">
          <h2 class="title mb-3 font-weight-normal">Registration Info</h2>
            <form method="POST" id="form" [formGroup]="regForm" (ngSubmit)="regData()">

                <div class="input-group">
                  <label for="fname" class="sr-only"> First Name  </label>
                    <input class="input--style-1" type="text"  class="form-control" formControlName="firstname"  placeholder="Enter Your First Name">
                    <div *ngIf="regForm.get('firstname').hasError('required') && regForm.get('firstname').touched" id="error">* First name is Required</div>
                </div>

                <div class="input-group">
                  <label for="lname" class="sr-only"> Last Name  </label>
                    <input class="input--style-1" type="text"  class="form-control" formControlName="lastname"  placeholder="Enter Your Last Name">
                    <div *ngIf="regForm.get('lastname').hasError('required') && regForm.get('lastname').touched" id="error">* Last name is Required</div>
                </div>

                <div class="input-group">
                  <label for="email" class="sr-only"> Email  </label>
                    <input class="input--style-1" type="email" class="form-control" formControlName="email"  placeholder="Enter Email">
                    <div *ngIf="regForm.get('email').hasError('required') && regForm.get('email').touched" id="error">* Email is required</div>
                    <div *ngIf="regForm.get('email').hasError('pattern')" id="error">* Error pattern </div>
                </div>

                <div class="input-group">
                  <label for="password" class="sr-only"> Password  </label>
                      <input class="input--style-1" type="password" class="form-control" formControlName="password"  placeholder="Enter Password">
                      <div *ngIf="regForm.get('password').hasError('required') && regForm.get('password').touched" id="error">* Password is required </div>
                      <div *ngIf="regForm.get('password').hasError('pattern')" id="error">* Error pattern [Atleast one capital letter, one small letter, one special character and one number, min length 4] </div>
                </div>

                <div >
                  <label for="submit"></label>
                    <input type="submit" value="sign up" id="submit" class="btn btn-lg btn-primary btn-block cssButton">
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
<!-- </div> -->
   